html {
    font-size: 20px;
}

#main {
    min-width: 100px;
    border: 1px solid black;
    font-size: 2rem;
    width: 40%;
    height: 200px;
    overflow: auto;
    /*display: flex;
    justify-content: center;*/
}

.inner-div {
    border: 1px solid black;
    width: 50%;
}